.documentsIcons {
  display: flex;
  gap: 5px;
 align-content: center;

}
.documentsIcons > div {
  cursor: pointer;
  color: var(--color-primary);
  font-size: 1.5rem;
}

.actionsIcons {
  display: flex;
    justify-content: center;

}
.actionsIcons > div {
  cursor: pointer;
  color: var(--color-primary);
  font-size: 1.5rem;
}

.flex {
  display: flex;

}

.flexGap2 {
  display: flex;
  gap: 2rem
}