.documentsIcons {
  display: flex;
  gap: 5px;
 align-content: center;

}
.documentsIcons > div {
  cursor: pointer;
  color: var(--color-primary);
  font-size: 1.5rem;
}

.actionsIcons {
  display: flex;
    justify-content: center;

}
.actionsIcons > div {
  cursor: pointer;
  color: var(--color-primary);
  font-size: 1.5rem;
}

.flex {
  display: flex;

}

.flexGap2 {
  display: flex;
  gap: 2rem
}

.p-input-icon-left > i.pi-search {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 10px !important;
  color: #6b7280; /* opcional, grisecito */
  font-size: 1rem;
}