.sectionSponsors {
    width: 90%;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 4px;
  }
  
  .title {
    text-align: center;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
  }
  
  .sponsorsGrid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    align-items: center;
    justify-items: center;
  }
  
  .logoLink {
    display: block;
  }
  
  .logo {
  width: 100%;
  max-width: 120px; 
  height: auto;
  object-fit: contain;
  opacity: 0.8;
  transition: opacity 0.3s;
}
  
  .logo:hover {
    opacity: 1;
  }
  
  @media (min-width: 768px) {
    .sectionSponsors {
      max-width: 1200px;
      margin: 2rem auto; 
      padding: 1rem; 
    }
    .sponsorsGrid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .sectionSponsors {
      max-width: 1200px;
    }
    .sponsorsGrid {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  @media (min-width: 1440px) {
    .sectionSponsors {
      max-width: 1400px;
    }
  }

  